<div class="login-form">
  <h2 class="text-center">Inicio de sesión</h2>
<form>
    <div class="avatar">
      <img src="/assets/avatar.png" alt="Avatar">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="user.username" class="form-control input-lg" name="username" placeholder="Usuario"
        required="required">
    </div>
    <div class="form-group">
      <input type="password" [(ngModel)]="user.password" class="form-control input-lg" name="password"
        placeholder="Contraseña" required="required">
    </div>
    <div class="form-group">

      <button type="submit" (click)="login()" class="btn btn-primary btn-lg btn-block login-btn">Ingresar</button>
    </div>
    <p class="hint-text">¿No tienes cuenta? <a href="registration/">Regístrate aquí</a></p>
  </form>

</div>
